.header-wrapper{
    background:red;
    padding:25px;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    width:100%;
    

}
.header-wrapper nav{
    background:red;
    display:flex;
    flex-direction: row;
    align-items: center;
    
   

   

}
.user-header-img{
    width:50px;
    border-radius: 10px;
    margin:10px;

}
.header-logo{
    height:25px;
}
.header-info{
    display:flex;
    align-items: center;
    gap:10px;
}
.nav-button{
    color:white;
    text-decoration: none;
    margin:10px;
}